{% extends 'website/dependencies.html' %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<h1>About Us</h1>
<p>
    MGM Fresh is a network of farmers and community growers organized as a food hub to provide access to fresh food while providing entrepreneurial and market opportunities for our family of growers. We are committed to delivering locally grown produce to the doors of families across our community.
    Regardless of socioeconomic status, we believe everyone deserves to have high-quality, affordable, and fresh food. We are here to grow and serve.
</p>
</body>
</html>

{% endblock %}