{% extends 'website/dependencies.html' %}
{% load static %}
{% block content %}
<div class="container jumbotron">
    <form method="POST" action="" >
        {% csrf_token %}
        <p>{{ form.username.label }}: {{ form.username }}</p>
        <p>{{ form.password1.label }}: {{ form.password1 }}</p>
        <p>{{ form.password2.label }}: {{ form.password2 }}</p>
        <p>{{ customerform.name.label }}: {{ customerform.name }}</p>
        <p>{{ customerform.address.label }}: {{ customerform.address }}</p>
        <p>{{ customerform.phone_number.label }}: {{ customerform.phone_number }}</p>
        <input class="btn btn-success" type="submit" value="Register Account">
    </form>
</div>
{% endblock %}
